@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lilita+One&family=Sarabun&family=ZCOOL+XiaoWei&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

header {
    margin: 10px 0 20px;
}

header h3 {
    margin: 10px 0;
}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
    background: white;
}

.grid div {
    height: 20px;
    width: 20px;
}

.player-one {
    background: red;
    border-radius: 10px;
}

.player-two {
    background: blue;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer > span {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 400;
    font-size: 12px;
    color: white
}

footer > img {
    width: 20px;
    padding: 10px;
}

footer > span > a {
    text-decoration: none;
    color: white;
}