* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

header {
    margin: 10px 0 20px;
}

h3 {}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.player-one {
    background: red;
    border-radius: 10px;
}

.player-two {
    background: blue;
    border-radius: 10px;
}